<div class="design">
    <h1>Please sign this petition to make the Not Flushing Habit a Public
        Offense.</h1>
    <h2> <u>Your signature will not go down the drain!</u> </h2>
    <img class="pissoir" src="/flush.jpg" alt="" />
    <br />
    <div>

    </div>
    <form method="POST">
        <div class="input">
            <div class="description">
                <input
                    type="text"
                    id="sign"
                    name="textbox"
                    placeholder=""
                    value=""
                    autocomplete="off"
                />
                <h4>First Name</h4>
            </div>
            <div class="description">
                <input
                    type="text"
                    id="sign"
                    name="textbox"
                    placeholder=""
                    value=""
                    autocomplete="off"
                />
                <h4>Second Name</h4>
            </div>
        </div>
        <br />
        <div>
            <canvas id="can" width="600" height="100">Sign Here</canvas>
        </div>
        <br />

        <button>Submit</button>
    </form>

</div>