<div class="design">
    <h1>Please sign this petition to make the Not Flushing Habit a Public
        Offense.</h1>
    <h2> <u>Your signature will not go down the drain!</u> </h2>
    <img class="pissoir" src="/toilet-censored.jpg" alt="" />
    <br />
    <div>

    </div>
    <form method="POST">
        <div>
            {{#if addFullNamesError}}<h3>Couldn't get your signature, please try
                    again</h3>{{/if}}
            <canvas id="can" width="600" height="100">Sign Here</canvas>
            <input
                type="hidden"
                id="canvas"
                name="signature"
                placeholder=""
                autocomplete="off"
            />
        </div>
        <br />
        <button class="submit">Submit</button>
    </form>

</div>