<div class="design">
    <h1>Please sign this petition to make the Not Flushing Habit a Public
        Offense.</h1>
    <h2> <u>Your signature will not go down the drain!</u> </h2>
    <img class="pissoir" src="/flush.jpg" alt="" />
    <br />
    <div>

    </div>
    <form method="POST">
        <div class="input">
            <div class="description">
                <input
                    type="text"
                    id="sign"
                    name="first"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
                <h4>First Name</h4>
            </div>
            <div class="description">
                <input
                    type="text"
                    id="sign"
                    name="last"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
                <h4>Second Name</h4>
            </div>
        </div>
        <br />
        <div>
            {{#if addFullNamesError}}<h3>Couldn't get your signature, please try
                    again</h3>{{/if}}
            <canvas id="can" width="600" height="100">Sign Here</canvas>
            <input
                type="hidden"
                id="canvas"
                name="signature"
                placeholder=""
                autocomplete="off"
            />
        </div>
        <br />
        <button>Submit</button>
    </form>

</div>