<div class="design">
    <br /><br />
    <img class="pissoir" src="/toilet-censored.jpg" alt="" />
    <br />
    <h2> <u>Please log in!</u> </h2>
    {{#if getPasswordsError}}<h3>Please, check your email and password
            information, or if you have not yet registered, please register</h3>{{/if}}
    <a href="/register">Return To Registration If Not Yet Registered</a>
    <br /><br />
    <form method="POST">
        <div class="description">
            <input
                type="email"
                id="sign"
                name="email"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Email Address</h4>
        </div>
        <div class="description">
            <input
                type="password"
                id="sign"
                name="password"
                minlength="8"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Password</h4>
        </div>
        <br />
        <br />
        <button class="log">Log In</button>
    </form>

</div>
<footer>
    <p> © Lucas Ebert - Dec. 2021</p>
</footer>