<div class="design">
    <br /><br />
    <img class="pissoir" src="/flush.jpg" alt="" />
    <br />
    <h2> <u>Please log in!</u> </h2>
    <form method="POST">
        <div class="description">
            <input
                type="email"
                id="sign"
                name="email"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Email Address</h4>
        </div>
        <div class="description">
            <input
                type="password"
                id="sign"
                name="password"
                minlength="8"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Password</h4>
        </div>
        <br />
        <br />
        <button class="log">Log In</button>
    </form>
    <br />

</div>