<div class="design">
    <h1>Please sign this petition to make the Not Flushing Habit a Public
        Offense.</h1>
    <br /><br />
    <img class="pissoir" src="/toilet-censored.jpg" alt="" />
    <br />
    <h2> <u>Please Register to start flushing properly!</u> </h2>
    {{#if addUsersInfoError}}<h3>Something went wrong. Please register if you
            are new here or log in if you have already registered</h3>{{/if}}
    <form method="POST">
        <h3 class="login">If you have already registered, please
            <a href="/login"> login </a></h3>
        <div class="description">
            <input
                type="text"
                id="first"
                name="first"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>First Name</h4>
        </div>
        <div class="description">
            <input
                type="text"
                id="last"
                name="last"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Last Name</h4>
        </div>
        <div class="description">
            <input
                type="email"
                id="sign"
                name="email"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Email Address</h4>
        </div>
        <div class="description">
            <input
                type="password"
                id="sign"
                name="password"
                minlength="8"
                placeholder=""
                value=""
                autocomplete="off"
                required
            />
            <h4>Password</h4>
        </div>
        <br />
        <br />
        <button>Register</button>
    </form>
    <br />

</div>