<div class="design">
    <h1>Thank You for advancing this great cause!!!</h1>
    <h2> <u>All People That Have Already Signed</u> </h2>
    <img class="closed" src="/closed.jpg" alt="" />
    <br />
    <ul class="people_list">
        {{#each allSigners}}
            <li>{{this.first}} {{this.last}}</li>
        {{/each}}
    </ul>
</div>