<div class="design">
    <h1>Thank You for advancing this great cause!!!</h1>
    <h2> <u>Case Closed Now!!!</u> </h2>
    <img class="closed" src="/closed.jpg" alt="" />
    <br />
    {{#if signature}}<img class="" src="{{signature}}" />{{/if}}
    <br />
    <a class="click" href="/signers">Click Here To See All {{count}} Signers</a>
    <br />
    <a class="click" href="/profile/edit">Click Here To Edit Your Profile</a>
    <br />
    <a id="logout" class="click" href="/logout">Logout</a>
    <form action="/delete" method="POST">
        <button class="delete click">Delete Your Signature, but only if you want
            to make it prettier</button>
    </form>

</div>
<footer>
    <p> © Lucas Ebert - Dec. 2021</p>
</footer>