<div class="design">
    <h1>Thank You for advancing this great cause!!!</h1>
    <h2> <u>Case Closed Now!!!</u> </h2>
    <img class="closed" src="/closed.jpg" alt="" />
    <br />
    {{#if signature}}<img class="" src="{{signature}}" />{{/if}}
    <br />
    <a href="/signers">Click Here To See All {{count}} Signers</a>
    <br />
    <a href="/profile/edit">Click Here To Edit Your Profile</a>
    <br />
    <form action="/delete" method="POST">
        <button class="delete">Delete Your Signature</button>
    </form>

    <br />
    <br />
    <br />

</div>