body {
    background: rgb(174, 206, 238);
    background: radial-gradient(
        circle,
        rgba(174, 206, 238, 1) 0%,
        rgba(81, 132, 191, 1) 100%
    );
    display: flex;
    justify-content: center;
}

form {
    display: grid;
}

h1 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0;
}

h2 {
    color: rgb(156, 101, 7);
    font-size: 2em;
    margin-top: 0.5em;
}

h3 {
    color: red;
}

.login {
    color: black;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0;
}

.pissoir {
    width: 30em;
    height: 24em;
}

.poops {
    width: 21em;
    height: 24em;
}

.closed {
    width: 21em;
    height: 24em;
}

canvas {
    border: 1px dotted black;
}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 5em;
    height: 4em;
    position: relative;
    left: 36%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 20%;
}

.submit {
    width: 5em;
    height: 4em;
    position: relative;
    left: 42%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 20%;
}

.log {
    width: 5em;
    height: 4em;
    position: relative;
    left: 18%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 20%;
}

.prof {
    width: 6em;
    height: 4em;
    position: relative;
    left: 12%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 20%;
}

.update {
    width: 6em;
    height: 4em;
    position: relative;
    left: 12%;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 20%;
}

.signed {
    size: inherit;
    background-image: url("./click.jpg");
}

.delete {
    font-size: medium;
    width: auto;
    background: none !important;
    border: none;
    padding: 0 !important;
    color: rgb(82, 0, 153);
    text-decoration: underline;
    cursor: pointer;
    left: 1%;
}
