<div class="design">
    <h1>Thank you for signing this petition to make the Not Flushing Habit a
        Public Offense.</h1>
    <h2> <u>Case Closed Now!!!</u> </h2>
    <img class="closed" src="/closed.jpg" alt="" />
    <br />
    <form method="POST">
        <a href="">Click Here To See Other Signers</a>
    </form>

</div>