<div class="design">
    <div class="design">
        <h1>Please sign this petition to make the Not Flushing Habit a Public
            Offense.</h1>
        <h2><u>Oh Crap 💩, something went wrong</u></h2>
    </div>

    <form method="POST">
        <img class="poops" src="/poops.jpg" alt="" />
        <br /><br />
        <button class="poop">Return to Petition</button>
    </form>
</div>